* {
    padding: 0;
    margin: 0;
}

header{
    background: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}


nav > ul{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    align-items: center;
    color: aliceblue;
    font-weight: 200;
    font-size: 28px;
   
    
}

header nav > ul li a{
    text-decoration: none;
    list-style: none;
    padding: 20px;
   
}